*__pycache__
shape_predictor_68_face_landmarks.dat
.*
Demo/dataset/old_data
Demo/not_used_code
Demo/dataset/*
Demo/open_face.h5
Demo/SVM_clf_0.joblib
Demo/tree.joblib
Demo/csv_files/embedded.csv
Demo/models
*.h5
sequential_NN_model.json
Demo/dataset

Demo/SVM_clf_0.joblib
Demo/open_face.h5
Demo/csv_files/embedded.csv
Demo/not_used_code
Demo/tree.joblib
Demo/dataset/main_data
Demo/sequential_NN_model_2.json
Demo/csv_files
Demo/video
*.joblib